/* minimum index.css to not clash with App.css */

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}

/* base typography */
:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Btns */
button {
  font: inherit;
}